Repository Xilinx/XRT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rozumx, @ashivangi, @stsoe, @maxzhen, @mamin506, @chvamshi-xilinx, @arpitxilinx, @jvillarre, @uday610

.github/CODEOWNERS:

# This file defines code ownership in XRT.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.


src/runtime_src/core/tools/ @rozumx @ashivangi
src/runtime_src/core/include/ @stsoe
src/runtime_src/core/include/xclbin.h @rozumx
src/runtime_src/core/include/ert.h @maxzhen @mamin506 @stsoe
src/runtime_src/core/common/ @stsoe @rozumx
src/runtime_src/core/common/api/ @stsoe
src/runtime_src/core/common/drv/ @mamin506
src/runtime_src/core/pcie/emulation/ @chvamshi-xilinx
src/runtime_src/core/pcie/driver/linux/ @maxzhen
src/runtime_src/core/pcie/driver/windows/ @arpitxilinx
src/runtime_src/core/pcie/linux/plugin/xdp/ @jvillarre
src/runtime_src/xocl/ @stsoe
src/runtime_src/xdp/ @jvillarre
src/runtime_src/doc/ @uday610
src/tests/xrt/ @stsoe
src/tests/unit_test/ @stsoe

CR-1109015: xbutil to report all Async errors (#5795)
  src/runtime_src/core/tools/common/ReportAsyncError.cpp
Owners: @rozumx, @ashivangi

CR-1105386 and P2P page change (#5810)
  src/runtime_src/doc/toc/p2p.rst
Owners: @uday610

Ensure schema compatibile xrt::device::get_info return values
  src/CMake/config/version.h.in
  src/CMakeLists.txt
  src/runtime_src/CMakeLists.txt
  src/runtime_src/core/common/api/xrt_device.cpp
  src/runtime_src/core/include/xrt/CMakeLists.txt
  src/runtime_src/core/include/xrt/detail/abi.h
  src/runtime_src/core/include/xrt/xrt_device.h
Owners: @stsoe

CR-1111237
  src/runtime_src/core/tools/xbutil2/SubCmdValidate.cpp
Owners: @rozumx, @ashivangi

CR-1100087 - Change in the u30flashall.sh script to improve user experience
  src/runtime_src/core/tools/CMakeLists.txt
  src/runtime_src/core/tools/common/xball
Owners: @rozumx, @ashivangi

change in xbutil
  src/runtime_src/core/tools/xbutil2/SubCmdValidate.cpp
Owners: @rozumx, @ashivangi
