Repository Xilinx/XRT, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rozumx, @chvamshi-xilinx, @ashivangi, @stsoe, @uday610, @vboggara-xilinx, @maxzhen, @mamin506, @venkatp-xilinx, @jeffli-xilinx, @jvillarre, @larry9523, @arpitxilinx

CR-1094631 Remove progress bar from validation tests. Format changes. Sort includes.
  src/runtime_src/core/tools/common/Process.cpp
  src/runtime_src/core/tools/xbutil2/SubCmdValidate.cpp
Owners: @rozumx, @chvamshi-xilinx, @ashivangi

fix extra_cu_mask related issues (#6878)
  src/runtime_src/core/common/drv/xgq_execbuf.c
  src/runtime_src/core/edge/drm/zocl/cu_scu.c
  src/runtime_src/core/edge/drm/zocl/zocl_xgq.c
  src/runtime_src/core/pcie/driver/linux/xocl/userpf/xocl_kds.c
Owners: @mamin506, @chvamshi-xilinx, @maxzhen

Fixed ps_iops performance issue as well as thread issues.
  tests/validate/ps_iops_test/src/ps_iops.cpp
Owners: none

Adding vdu kernel module/firmware/library to apu (#6884)
  build/build_edge.sh
  build/petalinux.build
  src/runtime_src/tools/scripts/apu_recipes/kernel-module-vdu.bb
  src/runtime_src/tools/scripts/apu_recipes/libvdu-xlnx.bb
  src/runtime_src/tools/scripts/apu_recipes/vdu-firmware.bb
  src/runtime_src/tools/scripts/pkgapu.sh
Owners: @stsoe, @rozumx

add sysfs node to tell if device can support ps kernel (#6874)
  src/runtime_src/core/pcie/driver/linux/xocl/userpf/xocl_sysfs.c
Owners: @maxzhen

Fix exception thrown when '/dev/dri/by-path' doesnot exist on edge platforms
  src/runtime_src/core/edge/user/zynq_dev.cpp
Owners: @chvamshi-xilinx, @stsoe

Fix build failure
  src/runtime_src/core/edge/user/zynq_dev.cpp
Owners: @chvamshi-xilinx, @stsoe

CR-1094631 Fix windows compilation warnings
  src/runtime_src/core/tools/common/Process.cpp
  src/runtime_src/core/tools/common/Process.h
  src/runtime_src/core/tools/xbutil2/SubCmdValidate.cpp
Owners: @rozumx, @chvamshi-xilinx, @ashivangi

Address comments
  src/runtime_src/core/edge/user/zynq_dev.cpp
Owners: @chvamshi-xilinx, @stsoe

.github/CODEOWNERS:

# This file defines code ownership in XRT.
# Each line is a file pattern followed by one or more owners.
# Order is important. The last matching pattern has the most precedence.
#
# <path>/ matches files under <path> and any of its subdirectories unless later match
# <path>/* matches files under <path> but *not* further nested files.


src/runtime_src/core/tools/ @rozumx @chvamshi-xilinx @ashivangi
src/runtime_src/core/include/ @stsoe
src/runtime_src/core/include/xclbin.h @rozumx
src/runtime_src/core/include/xrt/ @stsoe @uday610 @vboggara-xilinx
src/runtime_src/core/include/experimental/ @stsoe @uday610 @vboggara-xilinx
src/runtime_src/core/include/ert.h @maxzhen @mamin506 @stsoe
src/runtime_src/core/common/ @stsoe @rozumx
src/runtime_src/core/common/api/ @stsoe @vboggara-xilinx
src/runtime_src/core/common/drv/ @mamin506
src/runtime_src/core/edge/ @chvamshi-xilinx @stsoe
src/runtime_src/core/edge/common/ @chvamshi-xilinx @stsoe
src/runtime_src/core/edge/drm/ @chvamshi-xilinx @mamin506
src/runtime_src/core/edge/common_em/ @venkatp-xilinx
src/runtime_src/core/edge/hw_em/ @venkatp-xilinx
src/runtime_src/core/edge/sw_em/ @venkatp-xilinx
src/runtime_src/core/edge/ps_kernels/ @jeffli-xilinx @rozumx
src/runtime_src/core/edge/skd/ @jeffli-xilinx
src/runtime_src/core/edge/user/ @chvamshi-xilinx @stsoe
src/runtime_src/core/edge/user/plugin/ @jvillarre
src/runtime_src/core/edge/user/aie/ @larry9523
src/runtime_src/core/edge/user/aie/common_layer/ @larry9523
src/runtime_src/core/pcie/ @stsoe
src/runtime_src/core/pcie/emulation/ @chvamshi-xilinx @venkatp-xilinx
src/runtime_src/core/pcie/driver/linux/ @maxzhen
src/runtime_src/core/pcie/driver/windows/ @arpitxilinx
src/runtime_src/core/pcie/linux/plugin/xdp/ @jvillarre
src/runtime_src/xocl/ @stsoe
src/runtime_src/xocl/api/plugin/xdp/ @jvillarre
src/runtime_src/xdp/ @jvillarre
src/runtime_src/doc/ @uday610
src/runtime_src/tools/ @rozumx
src/runtime_src/tools/scripts/ @rozumx @stsoe
src/CMake/ @rozumx @stsoe
src/tests/xrt/ @stsoe
src/tests/unit_test/ @stsoe
build/ @stsoe @rozumx
